.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 12px 0px;
}

.input {
  padding: 12px;
  border-radius: 0.3rem;
}

.button {
  border: 1px solid;
  width: 350px;
  background: rgb(29, 161, 242);
  color: #fff;
  border-radius: 35px;
  margin-top: 2.5rem;
  padding: 8px 4px;
}

.linksContainer {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  margin-right: 10px;
  color: rgb(29, 161, 242);
}

.link:hover {
  text-decoration: underline;
}
